body {
  background:url('img/paper.png') #fff;
  font:15px/20px 'Helvetica Neue';
  margin:0;
  padding:0;
}

a {
  color:#B30071;
}

a:hover {
  background:#FFF9DB;
}

.wrapper {
  margin:0 10px;
}

.head {
}

h1 {
  font:30px/50px 'Georgia', serif;
}

h2 {
  font:20px/30px 'Georgia', serif;
}

p {
  margin:10px 0;
}

p.help {
  font:12px/15px 'Georgia', serif;
}

label {
  display:block;
}

#c2 {
}

#c {
  display:none;
}

textarea {
  width:90%;
  height:100px;
  font:14px/20px monospace;
  border:2px solid #B30071;
  padding:0;
}

table {
  width:100%;
}

div.input {
  padding:10px;
  margin-bottom:20px;
  background:rgba(255, 255, 255, 0.5);
}

img.selected {
  border:4px solid #000;
  padding:0;
}

#share {
  display:none;
}
small {
  color:#991515;
}
